@import "@/assets/less/variables.less";
@import "@/assets/less/mixins.less";
@import "@/assets/fontawesome/less/fontawesome.less";
@import "@/assets/fontawesome/less/solid.less";

body  {
  margin: 0;
  background-color: @secondary-color;
  // opacity: 1;
  // filter: blur(8px);
  background-image: url(../../static/imgs/christmas-movies-07.webp);
  background-position: bottom;
  color: white;
  height: 90%;
}

body, input, button  {
  font-family: 'Dumbledor';
}

@font-face {
  font-family: 'Dumbledor';
  src: url('/assets/fonts/dum1/dum1.ttf'); /* IE9 Compat Modes */
  src: url('/assets/fonts/dum1/dum1.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'DumbledorItalic';
  src: url('/assets/fonts/dum1/dum1ital.ttf'); /* IE9 Compat Modes */
  src: url('/assets/fonts/dum1/dum1ital.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Dumbledor3D';
  src: url('/assets/fonts/dum1/dum13d.ttf'); /* IE9 Compat Modes */
  src: url('/assets/fonts/dum1/dum13d.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'DumbledorOutline';
  src: url('/assets/fonts/dum1/dum1out.ttf'); /* IE9 Compat Modes */
  src: url('/assets/fonts/dum1/dum1out.ttf')  format('truetype'); /* Safari, Android, iOS */
}